.play {
  width: calc(100% - 28rem - 16rem);
  display: flex;
  gap: 16rem;
  align-items: center;
  justify-content: space-between;

  .play_status {
    font-size: 20rem;
    position: relative;
    width: 20rem;
    height: 20rem;

    .play_status_icon {
      visibility: hidden;
      position: absolute;
      transition: color 0.3s;

      &:active {
        color: fade(@font-color-light, 40);
      }
    }

    .play_status_playing_animate,
    .play_status_playing_noanimate,
    .play_status_play {
      visibility: visible;
    }

    .play_status_play_hover {
      visibility: hidden;
    }

    &:hover {
      .play_status_playing_animate,
      .play_status_playing_noanimate {
        visibility: hidden;
      }

      .play_status_pause,
      .play_status_play_hover {
        visibility: visible;
      }
    }
  }

  .play_info {
    flex: 1 1 0%;
    overflow: hidden;

    .play_info_name {
      font-weight: 500;
      font-size: 14rem;
      margin-bottom: 4rem;
    }

    .play_info_artist {
      color: @font-color-light;
      font-size: 12rem;
    }

    .play_info_name,
    .play_info_artist {
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: max-content;
    }
  }

  .play_operator {
    display: flex;
    gap: 16rem;
    // visibility: hidden;
    transform: translateX(-150%) scale(0);
    transition: 0.3s;
    margin-right: -8rem;
  }

  &:hover {
    cursor: pointer;
    .play_operator {
      //   visibility: visible;
      transform: translateX(0%) scale(1);
    }
  }
  .play_operator_visible {
    transform: translateX(0%) scale(1);
  }
}
