// 全局less变量

@font-color: #181515;
@font-color-light: #444;

@color-primary: #4A5589;
@bg-color: #cddec6;
@color-info: #4A5589;
@color-succes: #3c6e24;
@color-warning: #a47d2e;
@color-error: #a33132;


@bg-main: #93a888;
@bg-sub: #a5a8a8;
@bg-main-highlight: #cdd8c7;